@import '~@angular/material/theming';

$sagabook-byzantium: (
  50 : #eee5ec,
  100 : #d4bfd0,
  200 : #b894b1,
  300 : #9b6992,
  400 : #85497a,
  500 : #702963,
  600 : #68245b,
  700 : #5d1f51,
  800 : #531947,
  900 : #410f35,
  A100 : #ff7bdd,
  A200 : #ff48d0,
  A400 : #ff15c3,
  A700 : #fb00bb,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sagabook-ui-primary: mat-palette($sagabook-byzantium);
$sagabook-ui-accent: mat-palette($mat-amber, A400);

// The warn palette is optional (defaults to red).
$sagabook-ui-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$sagabook-ui-theme: mat-light-theme($sagabook-ui-primary, $sagabook-ui-accent, $sagabook-ui-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sagabook-ui-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
